html {
    background-color: rgb(235, 233, 233);
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
    
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:active {
    color: #fa923f;
}

img:hover {
    cursor: pointer;
}

.fixed-bar {
    height: 70px;
}
.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #521751;
    color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}
.navigation {
    text-align: center;
    padding: 0%;
}
.navigation li {
    display: inline-block;
    width: 20%;
    background-color: rgb(176, 176, 172);
    font-size: 16px;
    font-size: 0.9rem;
  }
  .triptext {
    background-color: #fa923f;
    padding:0;
    display: flex;
}
.triptext p {
    background-color: #521751;
    color: white;
    text-align: center;
    margin: 0;
    width: 50%;
    font-size: 16px;
    font-size: 1rem;
    
}
.tripimages {
    display: flex;
    flex-wrap: wrap;
}
.tripimages img {
    width: 50%;
    height: 400px;
    min-width: 200px;
    
}
@media (min-width: 400px){
    .navigation li {
        font-size: 1.2rem;
    }
}

@media (min-width: 700px){
    .trip-images img {
        width: 50%;
    } 
.feedback {
    background-color: #521751;
    color: white;
    text-align: center;
    position: relative;
    margin: 0;
    bottom: 18.4px;
    font-size: 16px;
    font-size: 1rem;
    
}
.client-feedback {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;

}
.client-feedback img {
    width: 120px;
}
.client-feedback p {
    width: 350px;
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
}